Templates/Logic Apps/ODA Monitoring App/ODA_Monitoring_template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "defaultValue": "Test-ODA-Monitoring-App",
            "metadata": {
                "description": "Name of the Logic App to be created."
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Azure region in which the Logic App should be created."
            }
        },
        "AssessmentType":{
            "type": "string",
            "allowedValues": [
                "AD","ADS",
                "Azure",
                "Exchange","ExchangeOnline",
                "SQL",
                "SCOM","SCCM",
                "SP","SPO",
                "SfB",
                "WindowsClient","WindowsServer"
            ],
            "metadata": {
                "description": "The type of On Demand Assessment being monitored. Must be one of the following: 'AD','ADS','Azure','Exchange','ExchangeOnline','SQL','SCOM','SCCM','SP','SPO','SfB','WindowsClient','WindowsServer'"
            }
        },
        "recipientEmailId": {
            "type": "string",
            "metadata": {
              "description": "Email id of the recipient(s). To specify multiple email ids, use a semicolon-separated list."
            }
        },
        "ODAWorkspace": {
            "type": "string",
            "metadata": {
              "description": "Name of the existing Log Analytics workspace where the assessment to be queried resides. "
            }
        },
        "workspaceSubscriptionId": {
            "type": "string",
            "metadata": {
              "description": "Subscription Id of the existing Log Analytics workspace that the Logic App should connect to."
            }
        },
        "workspaceResourceGroup": {
            "type": "string",
            "metadata": {
              "description": "Resource Group name of the existing Log Analytics workspace that the Logic App should connect to."
            }
        }
    },
    "variables": {
        "office365ConnectionName": "[concat(parameters('location'),'-','office365')]",
        "azureMonitorLogsConnectionName": "[concat(parameters('location'),'-','azuremonitorlogs')]",
        "DateHour": "@{formatDateTime(utcNow(),'yyyyMMddHHmm')}",
        "FullDate": "@{formatDateTime(utcNow(),'yyyy-MM-dd THH:mm:ss')}",
        "DateOnly": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}"        
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "location": "[parameters('location')]",
            "properties": {
              "api": {
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
              },
              "displayName": "office365"
            }
          },
          {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azureMonitorLogsConnectionName')]",
            "location": "[parameters('location')]",
            "properties": {
              "api": {
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuremonitorlogs')]"
              },
              "displayName": "azuremonitorlogs"
            }
          },
          {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]"
              ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Trigger_daily_at_8:00UTC": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "8"
                                    ]
                                }
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "8"
                                    ]
                                }
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Create_CSS_Header": {
                            "runAfter": {
                                "Run_query_and_get_count_of_results": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "BodyHeader",
                                        "type": "string",
                                        "value": "[concat('<style>\nTABLE{border-width: 1px;border-style: solid;border-color: black;border-collapse: collapse; width: 80%;}\nTH{border-width: 1px;border-style: solid;border-color: black;background-color:#5070C8;color:white;padding: 5px; font-weight: bold;text-align:left;}\nTD{border-width: 1px;border-style: solid;border-color: black;background-color:#F8F8F8; padding: 5px;text-align:left}\n</style>\n<H1>',parameters('AssessmentType'),' Assessment Recommendations</H1>')]"
                                    }
                                ]
                            }
                        },
                        "Evaluate_results": {
                            "foreach": "@body('Run_query_and_get_count_of_results')?['value']",
                            "actions": {
                                "Assessment_recommendation_count_more_than_10": {
                                    "actions": {
                                        "Create_HTML_table": {
                                            "runAfter": {
                                                "Run_query_and_list_results_3": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Table",
                                            "inputs": {
                                                "format": "HTML",
                                                "from": "@body('Run_query_and_list_results_3')?['value']"
                                            }
                                        },
                                        "Run_query_and_list_results_3": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": "[concat(parameters('AssessmentType'),'AssessmentRecommendation\n| where RecommendationResult == \"Failed\" \n| where RecommendationScore > 10 \n| project Score = RecommendationScore, Recommendation, AffectedObjectName  \n| sort by Score desc')]",
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/queryData",
                                                "queries": {
                                                    "resourcegroups": "[parameters('workspaceResourceGroup')]",
                                                    "resourcename": "[parameters('ODAWorkspace')]",
                                                    "resourcetype": "Log Analytics Workspace",
                                                    "subscriptions": "[parameters('workspaceSubscriptionId')]",
                                                    "timerange": "Last 7 days"
                                                }
                                            }
                                        },
                                        "Send_assessment_result_mail": {
                                            "runAfter": {
                                                "Create_HTML_table": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Attachments": [
                                                        {
                                                            "ContentBytes": "@{base64(concat(variables('BodyHeader'),body('Create_HTML_table')))}",
                                                            "Name": "[concat(parameters('AssessmentType'),'Results',variables('DateHour'),'.html')]"
                                                        }
                                                    ],
                                                    "Body": "[concat('<p>The ',parameters('AssessmentType'),' assessment ran at ',variables('FullDate'),'UTC and generated multiple recommendations with a score greater than 10. The attached file contains a summary of recommendations and affected objects.<br>\n<br>\nPlease review the Services Hub portal or Azure Logs workspace for details about individual recommendations.</p>')]",
                                                    "Subject": "[concat(parameters('AssessmentType'),' Assessment results for ',variables('DateOnly'))]",
                                                    "To": "[parameters('recipientEmailId')]"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "else": {
                                        "actions": {
                                            "Send_missing_result_mail": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": {
                                                        "Body": "[concat('<p><span style=\"color: rgb(209,72,65)\"><strong>The ',parameters('AssessmentType'),' assessment did not provide any recommendations in the last seven days.</strong></span></p>')]",
                                                        "Subject": "[concat(parameters('AssessmentType'),' assessment did not run recently')]",
                                                        "To": "[parameters('recipientEmailId')]"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['office365']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/v2/Mail"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "greater": [
                                                    "@items('Evaluate_results')?['Count']",
                                                    10
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Create_CSS_Header": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Run_query_and_get_count_of_results": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "[concat(parameters('AssessmentType'),'AssessmentRecommendation\n| count')]",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/queryData",
                                "queries": {
                                    "resourcegroups": "[parameters('workspaceResourceGroup')]",
                                    "resourcename": "[parameters('ODAWorkspace')]",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "[parameters('workspaceSubscriptionId')]",
                                    "timerange": "Last 7 days"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuremonitorlogs": {
                              "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureMonitorLogsConnectionName'))]",
                              "connectionName": "[variables('azureMonitorLogsConnectionName')]",
                              "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuremonitorlogs')]"
                            },
                            "office365": {
                              "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                              "connectionName": "[variables('office365ConnectionName')]",
                              "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
                            }
                          }
              
                    }
                }
            }
        }
    ]
}